
@font-face {
    font-family: 'tele2_displayserif-regular';
    src: url("../fonts/tele2_displayserif-regular.eot");
    src: local("☺"), url("/fonts/tele2_displayserif-regular.woff") format("woff"), url("/fonts/tele2_displayserif-regular.ttf") format("truetype"), url("/fonts/tele2_displayserif-regular.svg") format("svg");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'tele2_displayserif-bold';
    src: url("/fonts/tele2_displayserif-bold.eot");
    src: local("☺"), url("/fonts/tele2_displayserif-bold.woff") format("woff"), url("/fonts/tele2_displayserif-bold.ttf") format("truetype"), url("/fonts/tele2_displayserif-bold.svg") format("svg");
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'tele2_textsans-bold';
    src: url("/fonts/tele2_textsans-bold.eot");
    src: local("☺"), url("/fonts/tele2_textsans-bold.woff") format("woff"), url("/fonts/tele2_textsans-bold.ttf") format("truetype"), url("/fonts/tele2_textsans-bold.svg") format("svg");
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'tele2_textsans-regular';
    src: url("/fonts/tele2_textsans-regular.eot");
    src: local("☺"), url("/fonts/tele2_textsans-regular.woff") format("woff"), url("/fonts/tele2_textsans-regular.ttf") format("truetype"), url("/fonts/tele2_textsans-regular.svg") format("svg");
    font-weight: normal;
    font-style: normal; 
}

body{

    font-family: tele2_textsans-regular;
}

.wrap{
    width: 900px;
    margin: 0 auto;
}

.wrap__grid{
    
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-flow: row;
    margin-top: 5rem;
}

.right-side{
    /* background: rgba(128, 128, 128, 0.411); */
    margin: 0rem 1rem;
}

.left-side{
    /* background: rgba(160, 21, 21, 0.527); */
    margin-right: 0.7rem;
    justify-self: end;
    
    font-family: tele2_displayserif-bold;
    font-size: 16px;
} 

.header__foto{
    border-radius: 100%;
    width: 12rem;
    margin: 0px auto;
    /* border: 2px solid black; */
    background: url('/img/portret.jpg')0px 60%/cover no-repeat;
    
}



.title__names{
    font-family: tele2_displayserif-bold;
    font-size: 38px;
    
}

.names__first-name{
    font-family: tele2_displayserif-regular;
    font-size: 38px;
    color: #939393;
}

.names__last-name{
    color: #F8BB10;
}

.names__job{
    font-family: tele2_textsans-regular;
    color: #ccc;
    font-weight: 10;
    font-size: 20px;
}

.header__hr hr {
    height: 1px;
    background: #ccc;
    border: none;
}

.title__contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location-block{
    /* margin-right: 2rem; */
    /* border: 2px solid black; */
    padding: 0.4rem;
}

.location-block-title{
    font-family: tele2_displayserif-bold;
    font-size: 16px;
}

.location-block-data{
    font-family: tele2_displayserif-regular;
    font-size: 16px;
}

.content__skill-list{
    display: grid;
    grid-template: 1fr / repeat(2,1fr);
    grid-auto-flow: row;
    grid-column-gap: 0.5rem;
}

.skill-list__item{
    display: grid;
    grid-template: 1fr / 10% 90%;
    align-items: start;
    /* align-content: start; */
}

.skill-list__item{
    font-family: tele2_displayserif-regular;
    /* border: 2px solid black; */
    height: 3rem;
    /* padding: 1rem 1rem; */
    
}

.item__span{
    font-family: tele2_displayserif-bold;
    color: #F8BB10;
    align-self: start;
    /* background-color: aqua; */
}

.item__text{
    align-self: start;
    margin-top: 1px;
    /* background-color: brown; */
}

.portfolio__content-flex{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    font-family: 'tele2_textsans-bold';
}

.portfolio-item__text{
    font-size: 0.7rem;
    font-family: 'tele2_textsans-regular';
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.portfolio-item__slideshow-container{
    position: relative;
    margin: auto;
}

.slideshow-container__mySlides {
    max-width: 700px;
}

.slide-high{
    display: none;
}

.slideshow-container__mySlides img{
    max-height: 300px;
}

.slideshow-container__prev, .slideshow-container__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-container__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-container__prev:hover, .slideshow-container__next:hover {
    background-color: rgba(0,0,0,0.8);
}

.mySlides__text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .mySlides__numbertext {
    color: yellow;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .portfolio-item__dots{
    display: flex;
    justify-content: center;

  }
  
  /* The dots/bullets/indicators */
  .dots__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dots__dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



